// 题目高度
.mavon-editor-question {
  min-height: 200px !important;
}

// 选项高度
.mavon-editor-choice-option {
  min-height: 50px !important;
}

// 主观题答案高度
.mavon-editor-subject-answer {
  min-height: 150px !important;
}

//客观题答案高度
.mavon-editor-object-answer {
  min-height: 150px !important;
}

// 题目的解析高度
.mavon-editor-analyze {
  min-height: 200px !important;
}
